In [1]:
!pip install openpyxl
!pip install pandas

Requirement already satisfied: openpyxl in ./ven/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in ./ven/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: pandas in ./ven/lib/python3.9/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in ./ven/lib/python3.9/site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./ven/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./ven/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in ./ven/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## Reading the datasets and create generic functions

In [2]:
import pandas
import os

subfolder = 'dataset'
path = os.getcwd() # Get current working directory
path = os.path.join(path, subfolder)
ext = '.xlsx' # Select your file delimiter
file_dict = {} # Create an empty dict
xls_files = [i for i in os.listdir(path) if os.path.splitext(i)[1] == ext]
sheet_names = ['TaskDetails','NodeDetails','ExecutionTable','CostTable']
# Iterate over your txt files
def readFileNames():
    for f in xls_files:
        key = f.replace(ext,'')
        file_dict[key]=subfolder+'/'+f
        print('data:'+key)
#read the filenames of datasets
readFileNames()
def getDataFrames(data):
    file = file_dict[data]
    dataFrames = {}
    for name in sheet_names:
        dataFrames[name]=pandas.read_excel(file, sheet_name=name)
    return dataFrames

data:task40
data:task160
data:task80
data:task240
data:task280
data:task120
data:task200

## Retrieving Data of specific data

In [3]:
tasks = getDataFrames('task40')
#Node Characterization
#cloud_nodes = []
fog_nodes = tasks['NodeDetails'][(tasks['NodeDetails']['CPU rate (MIPS)'] >= 500) & (tasks['NodeDetails']['CPU rate (MIPS)']<1500)]
print(fog_nodes)

   Unnamed: 0  CPU rate (MIPS)  CPU usage cost  Memory usage cost  \
3      Node_4             1097          0.2464            0.02723
4      Node_5              873          0.1360            0.01474
5      Node_6             1054          0.1142            0.01232
6      Node_7             1420          0.3196            0.01802
7      Node_8             1106          0.3844            0.01195
8      Node_9             1479          0.1576            0.02440
9     Node_10              645          0.2805            0.01828
10    Node_11              963          0.1267            0.02263
11    Node_12              635          0.2751            0.01915
12    Node_13             1141          0.2779            0.02738

    Bandwidth usage cost
3                 0.0105
4                 0.0180
5                 0.0183
6                 0.0113
7                 0.0181
8                 0.0129
9                 0.0115
10                0.0135
11                0.0188
12                0.0121

In [4]:
from math import *

#def lcm(a, b):
#    return a * b // gcd(a, b)

#import math

def lcm_float(a, b, precision):
    a = round(a, precision)
    b = round(b, precision)
    return lcm(int(a*10**precision), int(b*10**precision))/10**precision

In [5]:
lcm(10,12)

60

In [6]:
lcm_float(1.5,12.352,3)

4632.0

In [7]:
#CostTable
#dataFrames = getDataFrames()
custo = tasks['CostTable']
custo = custo.dropna()
name_nodes = list(custo['Unnamed: 0'])
name_tasks = list(custo.head(0))
name_tasks.pop(0)
print(name_tasks)
print(name_nodes)

['Task_1', 'Task_2', 'Task_3', 'Task_4', 'Task_5', 'Task_6', 'Task_7', 'Task_8', 'Task_9', 'Task_10', 'Task_11', 'Task_12', 'Task_13', 'Task_14', 'Task_15', 'Task_16', 'Task_17', 'Task_18', 'Task_19', 'Task_20', 'Task_21', 'Task_22', 'Task_23', 'Task_24', 'Task_25', 'Task_26', 'Task_27', 'Task_28', 'Task_29', 'Task_30', 'Task_31', 'Task_32', 'Task_33', 'Task_34', 'Task_35', 'Task_36', 'Task_37', 'Task_38', 'Task_39', 'Task_40']
['Node_1', 'Node_2', 'Node_3', 'Node_4', 'Node_5', 'Node_6', 'Node_7', 'Node_8', 'Node_9', 'Node_10', 'Node_11', 'Node_12', 'Node_13']

In [8]:
custo

,Unnamed: 0,Task_1,Task_2,Task_3,Task_4,Task_5,Task_6,Task_7,Task_8,Task_9,...,Task_31,Task_32,Task_33,Task_34,Task_35,Task_36,Task_37,Task_38,Task_39,Task_40
1,Node_1,16.6043,9.6299,15.5592,27.1997,25.4926,16.8573,14.0015,24.6219,18.2197,...,22.8849,30.4180,25.6504,13.5599,9.9270,10.5371,16.6706,31.1977,13.4015,17.4342
2,Node_2,22.1410,12.9053,20.3889,35.8190,32.5056,22.6383,19.4182,32.0490,24.7136,...,30.2942,40.4768,33.6847,18.1072,13.9773,14.6482,22.9208,41.2603,18.1667,23.0900
3,Node_3,17.7635,10.1574,15.7748,26.5969,23.4435,17.9792,17.8464,23.1112,19.7585,...,24.3789,31.9699,24.5229,16.3000,13.6992,13.1315,18.2162,32.4469,16.1002,17.4509
4,Node_4,13.1282,6.9935,13.0902,20.2567,23.0837,12.2702,11.0954,19.0791,12.2925,...,19.2719,23.6496,18.7846,13.4162,8.2582,7.6649,9.5961,25.2513,11.6013,12.8307
5,Node_5,9.6937,5.3537,9.5363,15.5733,16.6271,9.3634,7.8820,14.5390,9.6424,...,13.9100,17.6357,14.6000,8.9588,5.6566,5.6502,8.0530,18.5792,8.0969,9.8693
6,Node_6,7.5501,4.2403,7.2278,12.0407,12.1467,7.4331,6.4349,11.0404,7.8295,...,10.6607,13.7315,11.2732,6.7931,4.6707,4.6867,6.8066,14.2931,6.3517,7.6931
7,Node_7,12.1758,6.5333,12.4240,19.6019,22.6556,11.3980,9.3566,18.7467,11.3140,...,17.9074,22.1200,18.3723,11.8586,6.6563,6.5036,8.7760,23.7218,10.1854,12.2909
8,Node_8,17.0566,9.2288,17.9475,28.9559,34.1165,15.9809,11.3662,28.2158,15.6485,...,25.1703,31.3268,27.4819,15.5725,7.4620,7.9694,11.9961,33.8057,13.2158,17.9293
9,Node_9,8.3210,4.5186,7.7261,12.0450,12.2506,8.0078,8.2815,10.7728,8.4167,...,11.8862,14.8360,10.9891,8.6398,6.4834,5.8321,7.1122,15.4577,7.8829,7.8366
10,Node_10,20.6178,10.9680,21.9014,34.5574,41.9896,19.0033,13.8330,33.8952,18.2995,...,30.7705,37.7320,32.6902,19.6739,9.2335,9.4924,13.4533,41.0088,16.3252,21.3549
11,Node_11,9.1790,4.9843,8.7526,13.7675,14.4968,8.7914,8.5127,12.5667,9.1185,...,13.1946,16.4697,12.6808,9.2781,6.5027,5.9949,7.5791,17.2836,8.3634,8.8572
12,Node_12,21.3734,11.4866,22.4376,35.8103,42.4717,19.9201,14.6567,34.8578,19.4525,...,31.6345,39.1364,33.8808,20.0195,9.8301,10.1917,14.7566,42.2823,16.9064,22.2069
13,Node_13,14.0616,7.5103,14.0733,21.8985,24.9634,13.1619,11.6734,20.6781,13.1775,...,20.6325,25.3787,20.3560,14.1993,8.6134,8.0830,10.3023,27.1062,12.2821,13.8448

In [20]:
f = open("custo_base.txt", "w")
for stream in name_nodes:
    i_str = stream.replace('Node_','')
    i = int(i_str)-1
    for j in name_tasks:
        a = custo.iloc[i][j]
        value =f"{a:.4f}"
        str_content = stream+' '+j+' '+value+'\n'
        f.write(str_content)
f.close()